<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2>User List</h2>
    <button class="btn btn-primary" (click)="redirectToProfile()">Back to Profile</button>
  </div>

  <div class="mb-4">
    <input type="text" [(ngModel)]="queryParams.searchTerm" (input)="onSearch()" class="form-control"
      placeholder="Search users by email or date of birth" />
  </div>

  <div class="mb-4">
    <label for="startDate">Start Date</label>
    <input type="date" [(ngModel)]="queryParams.startDate" (change)="onSearch()" class="form-control" id="startDate" />
  </div>

  <div class="mb-4">
    <label for="endDate">End Date</label>
    <input type="date" [(ngModel)]="queryParams.endDate" (change)="onSearch()" class="form-control" id="endDate" />
  </div>

  <div class="mb-4">
    <label for="isVerified">Verification Status</label>
    <select [(ngModel)]="queryParams.isVerified" (change)="onSearch()" class="form-control" id="isVerified">
      <option [ngValue]="null">All</option>
      <option [ngValue]="true">Verified</option>
      <option [ngValue]="false">Not Verified</option>
    </select>
  </div>

  <table class="table table-bordered table-hover rounded-4 ">
    <thead class="thead-light">
      <tr>
        <th scope="col">Profile picture</th>
        <th scope="col">Name</th>
        <th scope="col">Last name</th>
        <th scope="col">Date of birth</th>
        <th scope="col">Email</th>
        <th scope="col">Delete user</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td class="text-center">
          <img [src]="user.profilePhotoUrl" alt="User Photo" class="img-thumbnail" style="width: 50px; height: 50px;">
        </td>
        <td>{{ user.name }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.dateOfBirth }}</td>
        <td>{{ user.email }}</td>
        <td class="text-center">
          <button class="btn btn-danger btn-sm" (click)="deleteUser(user.id)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>